.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FailureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SideItemStyle {
  width: 100px;
  height: 100px;
  color: #ff0b37;
}
