.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FailureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
