.Home {
  min-width: 100vw;
  min-height: 100vh;
}

.SearchIcon {
  width: 25px;
  height: 25px;
}
.FailureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.closeBtn {
  width: 30px;
  height: 30px;
}
