.Home {
  min-width: 100vw;
  min-height: 100vh;
}

.SearchIcon {
  width: 20px;
  height: 20px;
}
.FailureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.closeBtn {
  width: 30px;
  height: 30px;
}
.SideItemStyle {
  margin-top: 15px;
  width: 20px;
  height: 20px;
}
.sideBarText {
  margin-left: 20px;
  font-weight: 500;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
